In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1595,tt0265208,25000000,30411183,The Girl Next Door,Emile Hirsch|Elisha Cuthbert|Timothy Olyphant|...,Luke Greenfield,Matt never saw her coming... but all his frien...,Exceptionally ambitious high schooler Matthew ...,108,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,4/9/2004,6.2,2004
1154,tt0340855,8000000,60378584,Monster,Charlize Theron|Christina Ricci|Bruce Dern|Lee...,Patty Jenkins,Based on a true story.,Aileen Wuornos is an emotionally scarred highw...,110,Crime|Drama,Newmarket Films,11/16/2003,6.8,2003
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000
1807,tt0120917,100000000,169327687,The Emperor's New Groove,David Spade|John Goodman|Eartha Kitt|Patrick W...,Mark Dindal,It's All About.....ME!,Kuzco is a self-centered emperor who summons P...,78,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Walt Disney Feature Anima...,12/9/2000,6.9,2000
312,tt0971209,14000000,22852638,A Perfect Getaway,Milla Jovovich|Timothy Olyphant|Steve Zahn|Chr...,David Twohy,Welcome to paradise. Enter at your own risk.,"For their honeymoon, newlyweds Cliff and Cydne...",98,Thriller|Mystery|Adventure,Davis Entertainment|Relativity Media|Rogue|QED...,6/8/2009,6.1,2009

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [36]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

movie_1214 = data[(data.release_year >= 2012) & (data.release_year <= 2014)] # DataFrame с фильмами 2012 и 2014 года
data['profit'] = data['revenue'] - data['budget'] # Cтолбец с прибылью фильмов
movie_profit = data[data.profit>0] # DataFrame с прибыльными фильмами 
movie_Action = data[data.genres.str.contains('Action')] # DataFrame с фильмами жанра Action
movie_budget = data[data.budget > data.budget.mean()] # DataFrame с высокобюджетными фильмами
movie_2012 = data[data.release_year == 2012] # DataFrame с фильмами 2012 года
movie_Cage = data[data.cast.str.contains('Nicolas Cage')] # DataFrame с фильмами, в которых снимался Nicolas Cage
movie_Paramount = data[data.production_companies.str.contains('Paramount Pictures')]  # DataFrame с фильмами от Paramount
movie_Warner = data[data.production_companies.str.contains('Warner Bros')] # DataFrame с фильмами от Warner Bros
data['month'] = data['release_date'].apply(lambda d: d.split('/')[0]) # Столбец с номером месяца в DataFrame data
movie_winter = data[(data.month == '12') | (data.month == '1') | (data.month == '2')] # DataFrame из фильмов, снятых зимой
data['length_title'] = data.original_title.str.len() # Столбец с длинной слова названия фильма
data['list_production'] = data['production_companies']\
.apply(lambda c: c.split(sep = '|')) # Столбец с режиссёрами фильма в виде списка в каждой ячейке
data['count_words'] = data.overview.apply(lambda c: c.split(sep = ' ')).str.len() # Столбец с количеством слов в описании
data['list_actors'] = data['cast'].apply(lambda c: c.split(sep = '|')) # Столбец со списком актеров фильма в ячейке

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [43]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
movie_max = data[(data.budget == data.budget.max())].original_title
display(movie_max)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [44]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [10]:
runtime_max = data[(data.runtime == data.runtime.max())].original_title
display(runtime_max)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [45]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
runtime_min = data[(data.runtime == data.runtime.min())].original_title
display(runtime_min)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [46]:
answers['4'] = '2. 110' #+
runtime_mean = data.runtime.mean()
print(runtime_mean)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [47]:
answers['5'] = '1. 107'
runtime_median = data.runtime.median()
print(runtime_median)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [48]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)' #+
profit_max = data[(data.profit == data.profit.max())].original_title
display(profit_max)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [49]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
profit_min = data[(data.profit == data.profit.min())].original_title
display(profit_min)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [50]:
answers['8'] = '1. 1478' #+
count_profit = data[(data.profit > 0)].original_title.count()
display(count_profit)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [51]:
answers['9'] = '4. The Dark Knight (tt0468569)' #+
movie_2008 = data[(data.release_year == 2008)].revenue.idxmax()
data.loc[movie_2008].original_title

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [52]:
answers['10'] = '5. The Lone Ranger (tt1210819)' #+
movie_1214.sort_values(by = 'profit', ascending = True).head(1).original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [53]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama' #+
genres = pd.Series(data['genres'].str.cat(sep = '|').split('|')) # Получение жанров каждого фильма 
genres.value_counts(ascending = False).head(1).index # Индекс наиболее частотного жанра

Index(['Drama'], dtype='object')

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
answers['12'] = '1. Drama' #+
genres = pd.Series(movie_profit['genres'] \
                   .str.cat(sep = '|').split('|')) # Жанры прибыльных фильмов
genres.value_counts(ascending = False).head(1).index

Index(['Drama'], dtype='object')

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [55]:
answers['13'] = '5. Peter Jackson' #+
list_dir = [] # Создать список всех режиссёров
for directors in data.director:
    for director in directors.split('|'):
        list_dir.append(director)
movie_directors = pd.Series(index = list_dir, dtype = 'object') # Создание Series, где индексы - режиссёры
 # В цикле в Series добавляется суммарное значение кассовых сборов фильмов каждого режиссёра
for i in movie_directors.index:
    movie_directors[i] = data['revenue'] \
    [data.director.map(lambda x:True if i in x else False)].sum()  
movie_directors.sort_values(ascending = False).head(1).index

Index(['Peter Jackson'], dtype='object')

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [56]:
answers['14'] = '3. Robert Rodriguez' #+
list_dir = movie_Action['director'].str.cat(sep = '|').split('|') # Список режиссёров, работавших в жанре Action
series_dir = pd.Series(list_dir)
series_dir.value_counts().head(1).index # Имя режиссёра, который упоминался в этом жанре чаще всех

Index(['Robert Rodriguez'], dtype='object')

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [84]:
answers['15'] = '3. Chris Hemsworth' #+
list_cast = []
for actors in movie_2012.cast:
    for actor in actors.split('|'):
        list_cast.append(actor)
movie_cast = pd.Series(index = list_cast, dtype = 'object') # Актёры, которые снимались в 2012 году

 # В цикле в Series добавляются значения кассовых сборов фильмов, в которых снимался каждый актёр
for i in movie_cast.index:
    movie_cast[i] = movie_2012['revenue'] \
    [movie_2012['cast'].map(lambda x: True if i in x else False)] 
movie_cast.groupby(movie_cast.index).sum().sort_values(ascending = False).head(1).index

Index(['Chris Hemsworth'], dtype='object')

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [58]:
answers['16'] = '3. Matt Damon' #+
list_cast = movie_budget['cast'].str.cat(sep = '|').split('|')
series_cast = pd.Series(list_cast)
series_cast.value_counts().head(1).index

Index(['Matt Damon'], dtype='object')

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [59]:
answers['17'] = '1. Action' #+
list_genres = movie_Cage['genres'].str.cat(sep = '|').split('|') #  Список жанров, в которых снимался Николас
series_genres = pd.Series(list_genres)
series_genres.value_counts().head(1).index

Index(['Action'], dtype='object')

# 18. Самый убыточный фильм от Paramount Pictures

In [60]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+
movie_Paramount.sort_values(by = 'profit', ascending = True).head(1).original_title
# Сортировка по возрастанию и выведение фильма с меньшим значением прибыли

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [61]:
answers['19'] = '5. 2015' #+
# Группировка по году выпуска, суммирование кассовых сборов и сортировка по убыванию
best_year = data.groupby(['release_year'])['revenue'] \
.sum().sort_values(ascending = False) 
display(best_year.head(1).index)

Int64Index([2015], dtype='int64', name='release_year')

# 20. Какой самый прибыльный год для студии Warner Bros?

In [62]:
answers['20'] = '1. 2014' #+
# Группировка по году выпуска, суммирование кассовых сборов и сортировка по убыванию
movie_gr = movie_Warner.groupby(['release_year']) \
['revenue'].sum().sort_values(ascending = False) 
display(movie_gr.head(1).index)

Int64Index([2014], dtype='int64', name='release_year')

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [63]:
answers['21'] = '4. Сентябрь' #+
movie_month = data.month. \
value_counts(ascending = False) # Количества фильмов в каждом месяце, отсортированные по убыванию
movie_month.head(1).index

Index(['9'], dtype='object')

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [83]:
answers['22'] = '2. 450' #+
# Суммирование количеств фильмов в 6, 7 и 8 месяцах, взятых из Series предыдущего вопроса
summer = movie_month.loc["6"] \
        +movie_month.loc["7"] \
        +movie_month.loc["8"]
print(summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [73]:
answers['23'] = '5. Peter Jackson' #+
list_dir = movie_winter['director'].str.cat(sep = '|').split('|') # Список режиссёров, снимавших фильмы, вышедшие зимой
series_dir = pd.Series(list_dir)
series_dir.value_counts().head(1).index

Index(['Peter Jackson'], dtype='object')

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [75]:
answers['24'] = '5. Four By Two Productions' #+
movie_production = data.explode('list_production') \
                       .groupby('list_production') \
                       .length_title.mean() # Группировка по режиссёрам и рассчёт среднего значения длин названий фильмов
display(movie_production.sort_values(ascending = False).head(1).index)

Index(['Four By Two Productions'], dtype='object', name='list_production')

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [76]:
answers['25'] = '3. Midnight Picture Show' #+
movie_production = data.explode('list_production') \
                       .groupby('list_production') \
                       .count_words.mean() # Группировка по режиссёрам и рассчёт среднего значения длин описаний фильмов
display(movie_production.sort_values(ascending = False).head(1).index)

Index(['Midnight Picture Show'], dtype='object', name='list_production')

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [77]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+
movie_ratings = data[['vote_average', 'original_title']] \
                .sort_values(by = 'vote_average', ascending = False) # Сортировка названий по рейтингу по убыванию 
display(movie_ratings.count().original_title*0.01) # Сколько фильмов составляют 1%
display(movie_ratings.original_title.head(19)) # Выводятся названия фильмов с лучшим рейтингом, входящие в это количество

18.89

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [78]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+
counter = {} # Счётчик того, сколько раз пара встретилась
for i in data.list_actors: 
    for j in list(combinations (i,2)): 
        if j in counter:  
            counter[j] += 1 # Если пара уже ключ в счётчике - значение для неё увеличивается на 1
        else:
            counter[j] = 1 # Если пара встретилась впервые, она становится ключом в счётчике и принимает значение 1
counter_act = pd.Series(counter)
counter_act.sort_values(ascending = False)

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64

# Submission

In [81]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'12': '1. Drama',
 '13': '5. Peter Jackson',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '1. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [82]:
# и убедиться что ни чего не пропустил)
len(answers)

27